<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.business.common.mapper.SysMapper">

    <select id="selectDeptById" resultType="com.ruoyi.business.common.domain.dto.DeptDTO">
        select dept_id, dept_name, dept_name as label
        from sys_dept
        where dept_id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>