<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.business.archive.dal.mapper.CadreArchiveDeptMapper">
    <select id="listDescendant" resultType="com.ruoyi.business.archive.dal.dos.CadreArchiveDept">
        SELECT *
        FROM bus_cadre_archive_dept
        WHERE deleted = 0
          and CONCAT(',', ancestors, ',') LIKE CONCAT('%,', #{deptId}, ',%')
    </select>
</mapper>
