<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <springProperty name="log.path" scope="context" source="ruoyi.profile"/>

    <!-- 日志输出格式 -->
    <!-- <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} : [ %X{TRACE_ID} ] - [%method,%line] - %msg%n" /> -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="CUSTOM_CONSOLE_LOG_PATTERN"
              value="${CUSTOM_CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-MM-dd HH:mm:ss.SSS}}){faint} %clr([%10.23t]){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%-66.66logger{66}){cyan} %clr(:){faint} %clr([ %X{TRACE_ID} ]){yellow} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="CUSTOM_FILE_LOG_PATTERN"
              value="${CUSTOM_FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-MM-dd HH:mm:ss.SSS}} [%10.23t] ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- %-66.66logger{66} : [ %X{TRACE_ID} ] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CUSTOM_CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CUSTOM_CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        </appender>
    </springProfile>

    <!-- 系统日志输出 -->
    <appender name="file_whole" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/application-logs/application.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/application-logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 每个文件最大 10 MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 日志最大的历史 60 天 -->
            <maxHistory>60</maxHistory>
            <!-- 日志文件总大小 1024MB -->
            <totalSizeCap>1024MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CUSTOM_FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender : 异步配置 - file_whole -->
    <appender name="file_whole_async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>2</discardingThreshold>
        <neverBlock>true</neverBlock>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="file_whole"/>
    </appender>

    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/application-logs/application-error.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/application-logs/application-error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 每个文件最大 10 MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 日志最大的历史 60 天 -->
            <maxHistory>60</maxHistory>
            <!-- 日志文件总大小 1024MB -->
            <totalSizeCap>1024MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CUSTOM_FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Appender : 异步配置 - file_error -->
    <appender name="file_error_async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>2</discardingThreshold>
        <neverBlock>true</neverBlock>
        <includeCallerData>false</includeCallerData>
        <appender-ref ref="file_error"/>
    </appender>

    <!-- 用户访问日志输出  -->
    <appender name="sys-user" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/application-logs/sys-user.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log.path}/application-logs/sys-user.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 每个文件最大 10 MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 日志最大的历史 60 天 -->
            <maxHistory>60</maxHistory>
            <!-- 日志文件总大小 1024MB -->
            <totalSizeCap>1024MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CUSTOM_FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Spring 配置文件里配置的 logging.level 里的包的日志级别，以及其它未配置的包的 info 以上的日志 -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file_whole_async"/>
        <appender-ref ref="file_error_async"/>
    </root>

    <!-- 系统用户操作日志：LoggerFactory.getLogger("sys-user") -->
    <logger name="sys-user" level="info" additivity="false">
        <appender-ref ref="sys-user"/>
    </logger>
</configuration> 